/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "Geologica-400";
  src: url("/fonts/Geologica-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica-500";
  src: url("/fonts/Geologica-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica-600";
  src: url("/fonts/Geologica-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica-700";
  src: url("/fonts/Geologica-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-400";
  src: url("/fonts/Inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #16161a;
  color: #fffffe;
}

.container {
  min-height: 100vh;
  margin: calc(2vw + 2vh);
}

h1,
h2,
h3,
h4 {
  color: #fffffe;
}

p {
  color: #94a1c4;
}

a {
  color: #7f5af0;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin: 5.625rem 0;
}

h1 {
  font-family: "Geologica-700", sans-serif;
  font-size: calc(2vw + 2vh + 1vmin);
}

h2 {
  font-family: "Geologica-600", sans-serif;
  font-size: calc(1.5vw + 1.5vh + 0.8vmin);
}

h3 {
  margin-bottom: 10px;
  font-family: "Geologica-500", sans-serif;
  font-size: calc(1.2vw + 1.2vh + 0.6vmin);
}

h4 {
  margin-bottom: 5px;
  font-family: "Geologica-400", sans-serif;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

p {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: calc(0.8vw + 0.8vh + 0.4vmin);
}

footer {
  margin: 8rem 0;
}

/*
Viewport units (vw, vh, vmin) represent a percentage of the viewport's width, height, or the minimum of the two. 
They enable us to create font sizes relative to the screen size.

Using calc(), calculations are performed with CSS values, combining different units. Here, font sizes for 
elements are calculated using vw, vh, and vmin units within calc().

The coefficients (e.g., 0.8vw, 1.5vh) determine the scaling factor for each unit, allowing control over their 
impact on the final font size.

By adding the vw, vh, and vmin values together, the resulting combined calculation considers the viewport's width 
and height.

This calculated result represents the font size in CSS units (e.g., px, rem), which is then applied to the 
respective element.

As the viewport width or height changes, the font size is recalculated, ensuring proportional scaling of the text.
*/
