---
import { Button } from "../components/Button";
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joan Segovia - Front-end Developer</title>
    <meta
      name="description"
      content="Front-end developer from Argentina specializing in creating responsive and user-friendly websites. Seeking new opportunities for full-time positions or freelance gigs."
    />
    <meta
      name="keywords"
      content="front-end developer, web developer, responsive websites, user-friendly, full-time positions, freelance gigs, Argentina"
    />
    <meta name="author" content="Joan Segovia" />
    <meta property="og:title" content="Joan Segovia - Front-end Developer" />
    <meta
      property="og:description"
      content="Front-end developer from Argentina specializing in creating responsive and user-friendly websites. Seeking new opportunities for full-time positions or freelance gigs."
    />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Hello, I'm Joan Segovia.</h1>
        <h2>A front-end developer, from Argentina.</h2>
      </header>

      <section id="about">
        <h3>About Me</h3>
        <p>
          In 2016, I immersed myself in web development, delving into HTML, CSS,
          and JavaScript. I was captivated by the great potential and creativity
          that coding offered.
        </p>
        <p>
          Since then, I've been refining my skills and expanding my knowledge.
          I've gained invaluable experience in various aspects of web
          development, from creating websites using a CMS to building mobile
          apps. This journey has fueled my passion for crafting digital
          experiences.
        </p>
        <p>
          Currently, I am actively seeking new opportunities to apply my
          expertise. I am open to both full-time positions and freelance
          projects, eager to contribute my skills. As a developer, I specialize
          in HTML, CSS, JavaScript, and utilize a range of tools and frameworks
          to create good-looking, user-friendly, and responsive solutions.
        </p>
        <p>
          When I'm not immersed in the IDE or reading docs, I enjoy drinking <a
            href="https://en.wikipedia.org/wiki/Mate_(drink)">mate</a
          >
          with <a
            href="https://en.wikipedia.org/wiki/Croissant#Argentina_and_Uruguay"
            >medialunas</a
          >, and strategizing my way to victory in Hearts of Iron 4, trying to
          conquer the world. I also love hitting the gym to stay active, riding
          my bike, and watching football, my favorite sport.
        </p>
      </section>

      <section id="work-experience">
        <h3>Work Experience</h3>
        <ul>
          <li>
            <h4>IbisDev</h4>
            <p>June 2022 - Feb 2023</p>
            <p>
              At <a href="https://ibisdev.tech">IbisDev</a>, I developed and
              mantained front-end applications using JavaScript, Next.js, and
              TypeScript. I worked with web scraping, UI design, and
              collaborating with project managers. Skilled in code reviews and
              remote work.
            </p>
          </li>
        </ul>
      </section>

      <section id="projects">
        <h3>Projects</h3>
        <p>Coming soon!</p>
      </section>

      <section id="contact">
        <h3>Contact</h3>
        <p>
          Do you want to hire me for a project, an idea, or just talk to me? You
          can do it by emailing me at <Button client:load />.
        </p>
      </section>

      <footer>
        <p>
          Website coded in VS Code, with <a href="https://astro.build">Astro</a>
          and deployed in <a href="https://vercel.com">Vercel</a>. Fonts are
          <a href="https://fonts.google.com/specimen/Geologica">Geologica</a> and
          <a href="https://fonts.google.com/specimen/Inter">Inter</a>
          and colors are #16161a, #fffffe, #94a1c4, and #7f5af0.
        </p>
      </footer>
    </div>
  </body>
</html>
